[SddmGreeterTheme]
Name=Arch Ricing
Description=Tema SDDM da paleta mashup brutalism+NES (ver doc 07) — mesma linguagem visual do Hyprlock/Quickshell
Author=romulo.marques
Copyright=none
License=MIT
Type=sddm-theme
Version=1.0
Website=
Screenshot=
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Font=JetBrainsMono Nerd Font
